body {
  background-image: url(Beige Light Brown );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 80%; }

.book-thumb {
  max-width: 100px;
  max-height: 150px; }

.text-justify {
  text-align: justify; }

  