body {
    font-family: 'Inter';
    background-color: Ivory;
    // background-image: url("/static/img/background_resized.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book-thumb {
    max-width: 100px;
    max-height: 150px;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

@mixin headings {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @content;
    }
}

@include headings {
    font-family: 'Montserrat';
}
