a {
  color: #0d58c9; }

body {
  font-family: 'Inter'; }

body,
main {
  background: linear-gradient(to bottom right, #f8f7e3, #fbffe6, #f1ecd6); }

footer p {
  margin: 0px; }

header nav {
  background: linear-gradient(to right, Ivory, #fafdde, Ivory); }

input[type='number'] {
  /*For FireFox*/
  appearance: textfield;
  -moz-appearance: textfield; }
  input[type='number']::-webkit-inner-spin-button {
    /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0px; }

main {
  flex: 1; }

.text-justify {
  text-align: justify; }

.text-center {
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat"; }

#search-type-dropdown option {
  color: #1d1f06; }

#search-bar-container {
  position: relative; }

#search-bar:focus {
  outline: none;
  outline-color: transparent; }

.suggestions,
#search-for {
  color: #818630;
  background-color: #e8ecb7; }

.suggestions {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid #e0e0e0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 5; }

#loading-icon {
  padding: 8px;
  width: 2rem; }

.suggestion-item {
  padding: 8px;
  cursor: pointer; }

.suggestion-item:hover {
  background-color: #f1f3d3; }

.bg-hero {
  padding-top: 75px; }

.text-hero * {
  font-family: "Lexend";
  color: #28282B; }

.text-hero .main-hero {
  font-weight: bold;
  padding-bottom: 30px; }

.text-hero .lead-hero {
  font-weight: bold;
  font-size: 1.2rem; }

.app-name {
  font-family: "Lexend";
  color: #fad542;
  font-weight: 600; }

.app-name-emphasis {
  color: #FEEB9C;
  font-weight: 800;
  text-shadow: 4px 2px #837b0d; }

#header-logo {
  max-width: 50px;
  max-height: 50px; }

.cke_editable {
  font-size: 32px;
  line-height: 1.6;
  /* Fix for missing scrollbars with RTL texts. (#10488) */
  word-wrap: break-word; }

#book-div {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fffae1; }

#comment-section {
  margin-top: 1.75rem; }

#advanced-search .form-control {
  margin-bottom: 12px; }

.container {
  width: 80%; }

.sidebar {
  width: 25%;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

.book-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px; }

.book-card {
  background: white;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center; }

.navbar {
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px; }

.navbar-brand {
  margin-right: 3.4rem; }
  .navbar-brand:hover {
    transform: scale(1.02); }

.navbar .nav-links .nav-link {
  color: #474d12; }
  .navbar .nav-links .nav-link:hover {
    color: #fad542;
    font-weight: bold;
    text-decoration: underline; }

.search-container {
  max-width: 550px; }

.form-control {
  border-radius: 0px; }

.btn-custom {
  background-color: #b0b1b3;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px; }

.btn-custom:hover {
  background-color: #797979; }

.fixed-size {
  width: 100px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden; }

.sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .sort-container label {
    margin-right: 10px;
    font-weight: bold; }

.pagination input {
  width: 60px;
  text-align: center; }

.no-results {
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #888; }

.card-book-thumb {
  object-fit: cover; }

.card-custom {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; }
  .card-custom:hover {
    transform: scale(1.02); }

@media (min-width: 993px) {
  .book-thumb,
  .card-book-thumb {
    height: 400px;
    max-width: 250px;
    width: 250px;
    max-height: 400px; }
  .result-card-body {
    max-height: 400px;
    height: 400px; } }

@media (max-width: 992px) and (min-width: 0px) {
  .book-thumb,
  .card-book-thumb {
    height: 320px;
    max-width: 200px;
    width: 200px;
    max-height: 320px; }
  .result-card-body {
    max-height: 320px;
    height: 320px;
    padding-left: 32px; }
  .card-custom {
    max-width: 1000px;
    margin-bottom: 10px; } }

svg.bi-search {
  fill: white; }

.book-title {
  font-family: "Lexend";
  margin: 0px; }

.book-card-title {
  color: #707091;
  font-size: 1.75rem;
  font-weight: 500; }

.book-page-title {
  font-size: 3.4rem;
  padding-top: 8px;
  font-weight: 400; }

img.book-thumb-front,
img.book-thumb-back {
  position: absolute; }

.book-thumb-front {
  z-index: 2; }

.book-thumb-back {
  z-index: 1; }

.book-thumb-front {
  object-fit: cover;
  padding: 16px; }

.book-thumb-back {
  filter: blur(5px);
  zoom: 128%; }

.result-card-body {
  padding: 25px; }

.card-body-col {
  z-index: 3;
  background-image: linear-gradient(to top, #fdf8d3, Ivory); }

.book-info > p {
  margin-bottom: 20px; }

button.comment-action,
button.comment-action a {
  color: #0d58c9;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1rem;
  font-size: 14px;
  text-decoration: none; }
  button.comment-action:hover,
  button.comment-action a:hover {
    text-decoration: underline; }

.hyperlink-on-hover {
  text-decoration: none; }
  .hyperlink-on-hover:hover {
    text-decoration: underline;
    text-decoration-color: #0d58c9; }

.comment-author-container {
  margin-top: 1rem;
  margin-left: 1rem; }

#comment-section .profile-picture {
  width: 100px;
  height: 100px; }

.comment-author-container p {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem; }

.book-title {
  letter-spacing: 0rem; }

.auth-container,
.styled-container {
  margin-top: 64px;
  background-color: #fffae1;
  background: linear-gradient(to bottom right, #fcfbe8, #fbffe6, #fffbe6); }

.auth-container .form-control-label {
  margin-top: 4px;
  margin-bottom: 4px; }

.auth-login-container,
.auth-forgot-password-container {
  width: 4px; }

.auth-signup-container {
  width: 400px; }

.profile-picture {
  object-fit: cover; }

.fav-status {
  width: 1.5rem; }

/*# sourceMappingURL=styles.scss.css.map */