{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock title %}

{% block content %}
    <style>
        .cke_notifications_area {
            display: none;
        }

        .book-desc {
            font-size: large;
        }

        #comment-section blockquote {
            border-left: 5px solid #ccc;
            padding-right: 8px;
            padding-left: 20px;
        }
    </style>

    <div class="container-lg">
        <a href="{{ from_results_page }}">Back</a>

        <div class="mt-4 p-4 rounded-4 border border-warning-subtle" id="book-div">
            <div id="book-content">
                <h1>
                    <strong>{{ book.title }}</strong>
                </h1>
                <p>
                    <strong>Author/s:</strong> {{ book.author }}
                </p>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ book.cover_img }}" alt="[no cover image avaiable]" />
                    </div>

                    <div class="col-md-8">
                        <h2>
                            <strong>Description:</strong>
                        </h2>
                        <p class="book-desc me-4">{{ book.description }}</p>
                    </div>
                </div>

                <strong>Date of Publication:</strong> {{ book.publish_date }}
                <p>
                    <strong>Publisher:</strong> {{ book.publisher }}
                </p>
            </div>

            <div id="comment-section">
                <h1 class="pb-4 mb-4 border-bottom border-secondary">Comments > {{ book.title }}</h1>
                {% for comment in comments %}
                    <div class="card mb-2">
                        <div class="row">
                            <div class="col-sm-2 d-flex flex-column">
                                <p class="m-3 fw-bold">{{ comment.user.username }}</p>
                                <div class="mt-auto pb-4">
                                    <button class="btn btn-link"
                                            onclick="quoteComment({{ comment.comment_id }}, '{{ comment.user.username }}')">
                                        Quote
                                    </button>
                                    {% if comment.user.username == current_user.username %}
                                        <button class="btn btn-link">
                                            <a href="{{ url_for('delete_comment', book_id=book.book_id, comment_id=comment.comment_id) }}">Delete</a>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="card-body">
                                    <p class="card-title text-muted text-small" title="{{ comment.date_created | datehover }}">
                                        {{ comment.date_created | datebasic }}
                                    </p>
                                    <div class="card-text me-4">{{ comment.comment | safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-4 pb-4">
                    {% if current_user.is_authenticated %}
                        <form method="post">
                            <div class="mb-4">
                                {# I am using native html/js ckeditor here instead of flask in order to use the js script #}
                                <textarea class="form-control" name="commentbox" id="commentbox" required></textarea>
                                <input class="btn btn-warning float-end mt-3 w-25" type="submit" name="comment" value="Post Comment" />
                            </div>
                        </form>
                    {% else %}
                        <div class="border border-rounded p-4">
                            <h2 class="text-center p-4">You need to be logged in to comment</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ ckeditor.load() }}
    <script src="{{ url_for('static', filename='/js/comment.js') }}"></script>
{% endblock content %}
