{% extends "layout.html" %}

{% block title %}
    Advanced Search
{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-start min-vh-100 mt-5">
        <div class="card p-4 w-sm-50 styled-container">
            <div class="form-group">
                <h2 class="text-center mb-4">Advanced Search</h2>
                <form role="search" action="{{ url_for('main.search') }}" method="get" id="advanced-search">
                    {% for field, info in SEARCHABLE_FIELDS.items() %}
                        <div class="mb-3">
                            <label for="{{ field }}" class="form-label">{{ info["label"] | rstrip("s") }}</label>
                            <input type="text" class="form-control rounded" name="{{ field }}" id="{{ field }}" />
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button class="btn btn-warning rounded" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
