{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock title %}

{% block content %}
    <style>
        .cke_notifications_area {
            display: none;
        }

        .book-desc {
            font-size: large;
        }

        div#book-content p {
            margin-bottom: 0px;
        }

        div#comment-section .card-body {
            padding-bottom: 0px;
        }

        div#comment-section blockquote {
            border-left: 5px solid #ccc;
            padding-right: 8px;
            padding-left: 20px;
        }

        div#comment-section table {
            margin-bottom: 2rem;
        }

        div#comment-section>div.card>div.row>div {
            padding-left: 2rem;
        }
    </style>

    <div class="container-lg">

        <div class="mt-4 p-4 rounded-4 border border-warning-subtle" id="book-div">
            <a class="mb-4" href="{{ from_results_page }}">< Back</a>

            <div id="book-content">
                <h1 class="book-title book-page-title">{{ book.title }}</h1>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        {% if book.cover_img %}
                            <img class="img-fluid w-100 border rounded-2" src="{{ book.cover_img }}" alt="book cover" />
                        {% else %}
                            <p>(no cover image avaiable)</p>
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <p>
                            <strong>Author/s:</strong> {{ book.author }}
                            <br />
                            <strong>Date of Publication:</strong> {{ book.publish_date }}
                            <br />
                            <strong>Publisher:</strong> {{ book.publisher }}
                            <br />
                            <br />
                        </p>
                        <h2>
                            <strong>Description:</strong>
                        </h2>

                        {% if book.description %}
                            <p class="book-desc me-4">{{ book.description }}</p>
                        {% else %}
                            <p>No book description available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="comment-section">
                <h4 class="border-bottom border-secondary">
                    Comments on: <span class="text-muted book-title">{{ book.title }}</span>
                </h4>
                {% for comment in comments %}
                    <div class="card mb-2">
                        <div class="row">
                            <div class="col-sm-2 d-flex flex-column ps-4 border-end border-light-subtle">
                                <div class="comment-author-container">
                                    <img src="{{ url_for('static', filename=comment.user.pp) }}"
                                         alt="{{ comment.user.username }} pp"
                                         class="profile-picture" />
                                    <p class="comment-author-username fw-bold">{{ comment.user.username }}</p>
                                </div>
                                <div>
                                    {% if current_user.is_authenticated %}
                                        <button class="btn btn-link comment-action"
                                                onclick="quoteComment({{ comment.id }}, '{{ comment.user.username }}')">
                                            Quote
                                        </button>
                                    {% endif %}
                                    {% if comment.user.username == current_user.username %}
                                        <button class="btn btn-link comment-action">
                                            <a href="{{ url_for('main.delete_comment', book_id=book.book_id, comment_id=comment.id) }}">Delete</a>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="card-body ">
                                    <p class="card-title text-muted text-small mb-4"
                                       title="{{ comment.date_created_fmt('%a %b %d %Y %I:%M:%S %p %Z %z') }}">
                                        {{ comment.date_created_fmt("%B %d, %Y") }}
                                    </p>
                                    <div class="card-text">{{ comment.comment | safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-4 pb-4">
                    {% if current_user.is_authenticated %}
                        <form method="post">
                            <div class="mb-4">
                                {# I am using native html/js ckeditor here instead of flask in order to use the js script #}
                                <textarea class="form-control" name="commentbox" id="commentbox" required></textarea>
                                <input class="btn btn-warning float-end mt-3 w-25" type="submit" name="comment" value="Post Comment" />
                            </div>
                        </form>
                    {% else %}
                        <div class="border border-rounded p-4">
                            <h2 class="text-center p-4">You need to be logged in to comment</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ ckeditor.load() }}
    <script src="{{ url_for('static', filename='/js/comment.js') }}"></script>
{% endblock content %}
